Reconstructing the sentences of the **MEANTIME - TEST** set for zero-shot prompting

In [31]:
import pandas as pd

In [32]:
with open('test.txt', encoding='utf8') as infile:
    text = infile.read()
print(text[:200])

Northrop	NNP	O	O
Grumman	NNP	O	O
and	CC	O	O
Airbus	NNP	O	O
parent	NN	O	O
EADS	NN	O	O
defeat	NN	O	B-EVENT
Boeing	NNP	O	O
for	IN	O	O
$	$	O	O
40	CD	O	O
billion	CD	O	O
US	NNP	O	O
airtanker	NN	O	O
contract

In [33]:
def token_tag(text):
    token_tag_pairs = []
    text = text.split('\n')
    for line in text:
        tokens_and_tags = line.split('\t')
        if len(tokens_and_tags) == 4:
            token_tag_pairs.append(f'{tokens_and_tags[0]}\t{tokens_and_tags[-1]}')
        else:
            token_tag_pairs.append('')
    tokentag = '\n'.join(token_tag_pairs)
    return tokentag

In [34]:
text = token_tag(text)
print(text[:100])

Northrop	O
Grumman	O
and	O
Airbus	O
parent	O
EADS	O
defeat	B-EVENT
Boeing	O
for	O
$	O
40	O
billion	O

In [35]:
text = text.split('\n\n')
print(len(text))

1115

In [36]:
def cleaning(sentence):
    sentence = sentence.replace(" n't", "n't")
    sentence = sentence.replace(" 's", "'s")
    sentence = sentence.replace(" 'm", "'m")
    sentence = sentence.replace(" 're", "'re")
    sentence = sentence.replace(" 've", "'ve")
    sentence = sentence.replace(" 'd", "'d")
    sentence = sentence.replace(" .", ".")
    sentence = sentence.replace(" ,", ",")
    sentence = sentence.replace(" !", "!")
    sentence = sentence.replace(" ?", "?")
    sentence = sentence.replace(" ;", ";")
    sentence = sentence.replace(" :", ":")
    sentence = sentence.replace("( ", "(")
    sentence = sentence.replace(" )", ")")        
    return sentence

In [37]:
def sentence_string(annotated_sentence):
    lines_of_annotated_sentence = annotated_sentence.split('\n')
    sentence = []
    for line in lines_of_annotated_sentence:
        splitline = line.split('\t')
        sentence.append(splitline[0])
    sentence_string = ' '.join(sentence)
    return cleaning(sentence_string)

In [38]:
def sentences_only(list_of_annotated_sentences):
    sentences_only = []
    for item in list_of_annotated_sentences:
        sentence = sentence_string(item)
        sentences_only.append(sentence)
    return sentences_only

In [39]:
print(sentences_only(text)[34])

Singapore will remain the airliner's first stop, where Singapore Airlines will display the aircraft they intend to launch into passenger-carrying service in November 2006.

In [40]:
list_of_sentences = sentences_only(text)
list_of_sentences[:5]

['Northrop Grumman and Airbus parent EADS defeat Boeing for $ 40 billion US airtanker contract',
 'March 01, 2008',
 'Northrop Grumman and Airbus parent company European Aeronautic Defence and Space Company EADS N.V. (EADS) have unexpectedly defeated Boeing for a US$ 40 billion (GB # 20.1 billion) contract to supply the United States Air Force (USAF) with 179 new aerial refueling tankers at a rate of 15 a year.',
 'It is the biggest contract of its kind since the Joint Strike Fighter program.',
 'That contract was fought for between Boeing and Lockheed Martin, Lockheed ultimately winning the contest.']

In [41]:
df = pd.DataFrame({'sentences': list_of_sentences})
df

                                              sentences
0     Northrop Grumman and Airbus parent EADS defeat...
1                                        March 01, 2008
2     Northrop Grumman and Airbus parent company Eur...
3     It is the biggest contract of its kind since t...
4     That contract was fought for between Boeing an...
...                                                 ...
1110                                 September 18, 2008
1111  Stock indexes around the globe reacted favorab...
1112  At 0800 UTC, the Bank of Canada, the Bank of E...
1113  The credit arrangements, also known as `` swap...
1114  Totaling US$ 180 billion, the Federal Reserve ...

[1115 rows x 1 columns]

In [42]:
df.to_csv('MNT_TEST_list_of_sentences.csv')

In [43]:
df = pd.read_csv('MNT_TEST_list_of_sentences.csv')

In [44]:
df.head()

   Unnamed: 0                                          sentences
0           0  Northrop Grumman and Airbus parent EADS defeat...
1           1                                     March 01, 2008
2           2  Northrop Grumman and Airbus parent company Eur...
3           3  It is the biggest contract of its kind since t...
4           4  That contract was fought for between Boeing an...

In [45]:
entries = df['sentences'].tolist()
entries[:5]

['Northrop Grumman and Airbus parent EADS defeat Boeing for $ 40 billion US airtanker contract',
 'March 01, 2008',
 'Northrop Grumman and Airbus parent company European Aeronautic Defence and Space Company EADS N.V. (EADS) have unexpectedly defeated Boeing for a US$ 40 billion (GB # 20.1 billion) contract to supply the United States Air Force (USAF) with 179 new aerial refueling tankers at a rate of 15 a year.',
 'It is the biggest contract of its kind since the Joint Strike Fighter program.',
 'That contract was fought for between Boeing and Lockheed Martin, Lockheed ultimately winning the contest.']