In [1]:
with open('MNT_few_shot_gold_predicted_1706_corrected.txt', encoding='utf8') as infile:
    text = infile.read()
print(text[:1000])

140358938139264	Northrop	<O>	Northrop	<O>
140358938148096	Grumman	<O>	Grumman	<O>
140358938137856	and	<O>	and	<O>
140358938146304	Airbus	<O>	Airbus	<O>
140358944180608	parent	<O>	parent	<O>
140358976254208	EADS	<O>	EADS	<O>
140358945256320	defeat	<EVENT>	defeat	<EVENT>
140358938144768	Boeing	<O>	Boeing	<O>
140358937971840	for	<O>	for	<O>
140358944192384	$	<O>	$	<O>
140358937971776	40	<O>	40	<O>
140358938143104	billion	<O>	billion	<O>
140358938145728	US	<O>	US	<O>
140358939999168	airtanker	<O>	airtanker	<O>
140358937971712	contract	<O>	contract	<O>

140358938145920	March	<O>	March	<O>
140358937972160	01	<O>	01	<O>
140358938144896	2008	<O>	2008	<O>

140358938144576	Northrop	<O>	Northrop	<O>
140358949726784	Grumman	<O>	Grumman	<O>
140358938144832	and	<O>	and	<O>
140358938143424	Airbus	<O>	Airbus	<O>
140358938142528	parent	<O>	parent	<O>
140358945023168	company	<O>	company	<O>
140358973401856	European	<O>	European	<O>
140358938142720	Aeronautic	<O>	Aeronautic	<O>
140358938142336	Defence	<O

In [2]:
text = text.split('\n')
print(len(text))
print(text[:10])

25090
['140358938139264\tNorthrop\t<O>\tNorthrop\t<O>', '140358938148096\tGrumman\t<O>\tGrumman\t<O>', '140358938137856\tand\t<O>\tand\t<O>', '140358938146304\tAirbus\t<O>\tAirbus\t<O>', '140358944180608\tparent\t<O>\tparent\t<O>', '140358976254208\tEADS\t<O>\tEADS\t<O>', '140358945256320\tdefeat\t<EVENT>\tdefeat\t<EVENT>', '140358938144768\tBoeing\t<O>\tBoeing\t<O>', '140358937971840\tfor\t<O>\tfor\t<O>', '140358944192384\t$\t<O>\t$\t<O>']

In [3]:
lines = []
for item in text:
    line = item.split()
    lines.append(line)
    
print(len(lines))
print(lines[:20])

25090
[['140358938139264', 'Northrop', '<O>', 'Northrop', '<O>'], ['140358938148096', 'Grumman', '<O>', 'Grumman', '<O>'], ['140358938137856', 'and', '<O>', 'and', '<O>'], ['140358938146304', 'Airbus', '<O>', 'Airbus', '<O>'], ['140358944180608', 'parent', '<O>', 'parent', '<O>'], ['140358976254208', 'EADS', '<O>', 'EADS', '<O>'], ['140358945256320', 'defeat', '<EVENT>', 'defeat', '<EVENT>'], ['140358938144768', 'Boeing', '<O>', 'Boeing', '<O>'], ['140358937971840', 'for', '<O>', 'for', '<O>'], ['140358944192384', '$', '<O>', '$', '<O>'], ['140358937971776', '40', '<O>', '40', '<O>'], ['140358938143104', 'billion', '<O>', 'billion', '<O>'], ['140358938145728', 'US', '<O>', 'US', '<O>'], ['140358939999168', 'airtanker', '<O>', 'airtanker', '<O>'], ['140358937971712', 'contract', '<O>', 'contract', '<O>'], [], ['140358938145920', 'March', '<O>', 'March', '<O>'], ['140358937972160', '01', '<O>', '01', '<O>'], ['140358938144896', '2008', '<O>', '2008', '<O>'], []]

In [4]:
lines_O = []
for line in lines:
    if len(line) ==5 and line[4] == 'O':
        lines_O.append(line)
    lines_O
    
print(lines_O)
print(len(lines_O))

[]
0

In [5]:
lines_EVENT = []
for line in lines:
    if len(line) ==5 and line[4] == 'EVENT':
        lines_EVENT.append(line)
    lines_EVENT
    
print(len(lines_EVENT))
print(lines_EVENT[:20])

0
[]

In [6]:
new_lines = []
for line in lines_O:
    if len(line) ==5 and 'O' in line[4]:# Tags such as <O>. or O appear occassionally
        line[4] = '<O>'
    elif len(line) ==5 and 'EVENT' in line[4]:# Tags such as <EVENT>. or EVENT appear occassionally
        line[4] = '<EVENT>'
    new_lines.append(line)
        
print(len(new_lines))
print(new_lines)

0
[]

In [7]:
new_lines = []
for line in lines_EVENT:
    if len(line) ==5 and 'O' in line[4]:
        line[4] = '<O>'
    elif len(line) ==5 and 'EVENT' in line[4]:
        line[4] = '<EVENT>'
    new_lines.append(line)

print(len(new_lines))
print(new_lines[:20])

0
[]

In [8]:
lines_O = []
for line in lines:
    if len(line) ==5 and line[4] == 'O':
        lines_O.append(line)
    lines_O

print(len(lines_O))   
print(lines_O)

0
[]

In [9]:
lines_EVENT = []
for line in lines:
    if len(line) ==5 and line[4] == 'EVENT':
        lines_EVENT.append(line)
    lines_EVENT

print(len(lines_EVENT))
print(lines_EVENT)

0
[]

In [10]:
adjusted_lines = []
for line in lines:
    if len(line) ==5 and 'O' in line[4]:
        line[4] = '<O>'
    elif len(line) ==5 and 'EVENT' in line[4]:
        line[4] = '<EVENT>'
    else:
        line
    adjusted_lines.append(line)

print(len(adjusted_lines))
print(adjusted_lines[:20])

25090
[['140358938139264', 'Northrop', '<O>', 'Northrop', '<O>'], ['140358938148096', 'Grumman', '<O>', 'Grumman', '<O>'], ['140358938137856', 'and', '<O>', 'and', '<O>'], ['140358938146304', 'Airbus', '<O>', 'Airbus', '<O>'], ['140358944180608', 'parent', '<O>', 'parent', '<O>'], ['140358976254208', 'EADS', '<O>', 'EADS', '<O>'], ['140358945256320', 'defeat', '<EVENT>', 'defeat', '<EVENT>'], ['140358938144768', 'Boeing', '<O>', 'Boeing', '<O>'], ['140358937971840', 'for', '<O>', 'for', '<O>'], ['140358944192384', '$', '<O>', '$', '<O>'], ['140358937971776', '40', '<O>', '40', '<O>'], ['140358938143104', 'billion', '<O>', 'billion', '<O>'], ['140358938145728', 'US', '<O>', 'US', '<O>'], ['140358939999168', 'airtanker', '<O>', 'airtanker', '<O>'], ['140358937971712', 'contract', '<O>', 'contract', '<O>'], [], ['140358938145920', 'March', '<O>', 'March', '<O>'], ['140358937972160', '01', '<O>', '01', '<O>'], ['140358938144896', '2008', '<O>', '2008', '<O>'], []]

In [11]:
replaced_lines = []
for line in adjusted_lines:
    line = '\t'.join(line)
    replaced_lines.append(line)

print(len(replaced_lines))
print(replaced_lines[:20])

25090
['140358938139264\tNorthrop\t<O>\tNorthrop\t<O>', '140358938148096\tGrumman\t<O>\tGrumman\t<O>', '140358938137856\tand\t<O>\tand\t<O>', '140358938146304\tAirbus\t<O>\tAirbus\t<O>', '140358944180608\tparent\t<O>\tparent\t<O>', '140358976254208\tEADS\t<O>\tEADS\t<O>', '140358945256320\tdefeat\t<EVENT>\tdefeat\t<EVENT>', '140358938144768\tBoeing\t<O>\tBoeing\t<O>', '140358937971840\tfor\t<O>\tfor\t<O>', '140358944192384\t$\t<O>\t$\t<O>', '140358937971776\t40\t<O>\t40\t<O>', '140358938143104\tbillion\t<O>\tbillion\t<O>', '140358938145728\tUS\t<O>\tUS\t<O>', '140358939999168\tairtanker\t<O>\tairtanker\t<O>', '140358937971712\tcontract\t<O>\tcontract\t<O>', '', '140358938145920\tMarch\t<O>\tMarch\t<O>', '140358937972160\t01\t<O>\t01\t<O>', '140358938144896\t2008\t<O>\t2008\t<O>', '']

In [12]:
new_text = '\n'.join(replaced_lines)

print(new_text[:2000])

140358938139264	Northrop	<O>	Northrop	<O>
140358938148096	Grumman	<O>	Grumman	<O>
140358938137856	and	<O>	and	<O>
140358938146304	Airbus	<O>	Airbus	<O>
140358944180608	parent	<O>	parent	<O>
140358976254208	EADS	<O>	EADS	<O>
140358945256320	defeat	<EVENT>	defeat	<EVENT>
140358938144768	Boeing	<O>	Boeing	<O>
140358937971840	for	<O>	for	<O>
140358944192384	$	<O>	$	<O>
140358937971776	40	<O>	40	<O>
140358938143104	billion	<O>	billion	<O>
140358938145728	US	<O>	US	<O>
140358939999168	airtanker	<O>	airtanker	<O>
140358937971712	contract	<O>	contract	<O>

140358938145920	March	<O>	March	<O>
140358937972160	01	<O>	01	<O>
140358938144896	2008	<O>	2008	<O>

140358938144576	Northrop	<O>	Northrop	<O>
140358949726784	Grumman	<O>	Grumman	<O>
140358938144832	and	<O>	and	<O>
140358938143424	Airbus	<O>	Airbus	<O>
140358938142528	parent	<O>	parent	<O>
140358945023168	company	<O>	company	<O>
140358973401856	European	<O>	European	<O>
140358938142720	Aeronautic	<O>	Aeronautic	<O>
140358938142336	Defence	<O>	Defence	<O>
140358938142592	and	<O>	and	<O>
140358938141888	Space	<O>	Space	<O>
140358938141440	Company	<O>	Company	<O>
140358938142016	EADS	<O>	EADS	<O>
140358938142208	N.V.	<O>	N.V.	<O>
140358938141568	(	<O>	(	<O>
140358938141056	EADS	<O>	EADS	<O>
140358938141632	)	<O>	)	<O>
140358938140160	have	<O>	have	<O>
140358938141504	unexpectedly	<O>	unexpectedly	<O>
140358938140224	defeated	<EVENT>	defeated	<O>
140358938141952	Boeing	<O>	Boeing	<O>
140358938135296	for	<O>	for	<O>
140358938136064	a	<O>	a	<O>
140358938138368	US$	<O>	US$	<O>
140358938141184	40	<O>	40	<O>
140358938135936	billion	<O>	billion	<O>
140358938135552	(	<O>	(	<O>
140358938139776	GB	<O>	GB	<O>
140358943351808	#	<O>	#	<O>
140358943348864	20.1	<O>	20.1	<O>
140358943349760	billion	<O>	billion	<O>
140358937972096	)	<O>	)	<O>
140358938141120	contract	<O>	contract	<O>
140358943347712	to	<O>	to	<O>
140358937971968	supply	<EVENT>	supply	<O>
140358938140992	the	<O>	the	<O>
140358938140736	United	<O>	United	<O>
140358949717056	St

In [15]:
with open('MNT_few_shot_gold_predicted_1806_corrected.txt', 'w', encoding='utf8') as outfile:
        outfile.write(new_text)

In [15]:
with open('MNT_few_shot_gold_predicted_1806_corrected.txt', encoding='utf8') as infile:
    text = infile.read()

In [16]:
print(text[:2000])

140358938139264	Northrop	<O>	Northrop	<O>
140358938148096	Grumman	<O>	Grumman	<O>
140358938137856	and	<O>	and	<O>
140358938146304	Airbus	<O>	Airbus	<O>
140358944180608	parent	<O>	parent	<O>
140358976254208	EADS	<O>	EADS	<O>
140358945256320	defeat	<EVENT>	defeat	<EVENT>
140358938144768	Boeing	<O>	Boeing	<O>
140358937971840	for	<O>	for	<O>
140358944192384	$	<O>	$	<O>
140358937971776	40	<O>	40	<O>
140358938143104	billion	<O>	billion	<O>
140358938145728	US	<O>	US	<O>
140358939999168	airtanker	<O>	airtanker	<O>
140358937971712	contract	<O>	contract	<O>

140358938145920	March	<O>	March	<O>
140358937972160	01	<O>	01	<O>
140358938144896	2008	<O>	2008	<O>

140358938144576	Northrop	<O>	Northrop	<O>
140358949726784	Grumman	<O>	Grumman	<O>
140358938144832	and	<O>	and	<O>
140358938143424	Airbus	<O>	Airbus	<O>
140358938142528	parent	<O>	parent	<O>
140358945023168	company	<O>	company	<O>
140358973401856	European	<O>	European	<O>
140358938142720	Aeronautic	<O>	Aeronautic	<O>
140358938142336	Defence	<O>	Defence	<O>
140358938142592	and	<O>	and	<O>
140358938141888	Space	<O>	Space	<O>
140358938141440	Company	<O>	Company	<O>
140358938142016	EADS	<O>	EADS	<O>
140358938142208	N.V.	<O>	N.V.	<O>
140358938141568	(	<O>	(	<O>
140358938141056	EADS	<O>	EADS	<O>
140358938141632	)	<O>	)	<O>
140358938140160	have	<O>	have	<O>
140358938141504	unexpectedly	<O>	unexpectedly	<O>
140358938140224	defeated	<EVENT>	defeated	<O>
140358938141952	Boeing	<O>	Boeing	<O>
140358938135296	for	<O>	for	<O>
140358938136064	a	<O>	a	<O>
140358938138368	US$	<O>	US$	<O>
140358938141184	40	<O>	40	<O>
140358938135936	billion	<O>	billion	<O>
140358938135552	(	<O>	(	<O>
140358938139776	GB	<O>	GB	<O>
140358943351808	#	<O>	#	<O>
140358943348864	20.1	<O>	20.1	<O>
140358943349760	billion	<O>	billion	<O>
140358937972096	)	<O>	)	<O>
140358938141120	contract	<O>	contract	<O>
140358943347712	to	<O>	to	<O>
140358937971968	supply	<EVENT>	supply	<O>
140358938140992	the	<O>	the	<O>
140358938140736	United	<O>	United	<O>
140358949717056	St

In [17]:
text = text.split('\n')
print(len(text))
print(text[:10])

25090
['140358938139264\tNorthrop\t<O>\tNorthrop\t<O>', '140358938148096\tGrumman\t<O>\tGrumman\t<O>', '140358938137856\tand\t<O>\tand\t<O>', '140358938146304\tAirbus\t<O>\tAirbus\t<O>', '140358944180608\tparent\t<O>\tparent\t<O>', '140358976254208\tEADS\t<O>\tEADS\t<O>', '140358945256320\tdefeat\t<EVENT>\tdefeat\t<EVENT>', '140358938144768\tBoeing\t<O>\tBoeing\t<O>', '140358937971840\tfor\t<O>\tfor\t<O>', '140358944192384\t$\t<O>\t$\t<O>']

In [18]:
ids = []
tokens = []
gold_labels = []
predicted_labels = []

In [19]:
line_items = []
for line in text:
    items = line.split()
    line_items.append(items)

print(len(line_items))
print(line_items[:20])

25090
[['140358938139264', 'Northrop', '<O>', 'Northrop', '<O>'], ['140358938148096', 'Grumman', '<O>', 'Grumman', '<O>'], ['140358938137856', 'and', '<O>', 'and', '<O>'], ['140358938146304', 'Airbus', '<O>', 'Airbus', '<O>'], ['140358944180608', 'parent', '<O>', 'parent', '<O>'], ['140358976254208', 'EADS', '<O>', 'EADS', '<O>'], ['140358945256320', 'defeat', '<EVENT>', 'defeat', '<EVENT>'], ['140358938144768', 'Boeing', '<O>', 'Boeing', '<O>'], ['140358937971840', 'for', '<O>', 'for', '<O>'], ['140358944192384', '$', '<O>', '$', '<O>'], ['140358937971776', '40', '<O>', '40', '<O>'], ['140358938143104', 'billion', '<O>', 'billion', '<O>'], ['140358938145728', 'US', '<O>', 'US', '<O>'], ['140358939999168', 'airtanker', '<O>', 'airtanker', '<O>'], ['140358937971712', 'contract', '<O>', 'contract', '<O>'], [], ['140358938145920', 'March', '<O>', 'March', '<O>'], ['140358937972160', '01', '<O>', '01', '<O>'], ['140358938144896', '2008', '<O>', '2008', '<O>'], []]

In [20]:
print(line_items[0])

['140358938139264', 'Northrop', '<O>', 'Northrop', '<O>']

In [21]:
for line in line_items:
    if len(line) ==5:
        ids.append(line[0])
        tokens.append(line[1])
        gold_labels.append(line[2])
        predicted_labels.append(line[4])

In [22]:
print(len(ids))
print(len(tokens))
print(len(gold_labels))
print(len(predicted_labels))

23974
23974
23974
23974

In [24]:
for line in line_items:
    if len(line) !=5:
        print(line)

[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]

In [23]:
print(ids[:20])
print(tokens[:20])
print(gold_labels[:20])
print(predicted_labels[:20])

['140358938139264', '140358938148096', '140358938137856', '140358938146304', '140358944180608', '140358976254208', '140358945256320', '140358938144768', '140358937971840', '140358944192384', '140358937971776', '140358938143104', '140358938145728', '140358939999168', '140358937971712', '140358938145920', '140358937972160', '140358938144896', '140358938144576', '140358949726784']
['Northrop', 'Grumman', 'and', 'Airbus', 'parent', 'EADS', 'defeat', 'Boeing', 'for', '$', '40', 'billion', 'US', 'airtanker', 'contract', 'March', '01', '2008', 'Northrop', 'Grumman']
['<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<EVENT>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>']
['<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<EVENT>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>']

In [24]:
import pandas as pd

In [26]:
df_gold = pd.DataFrame({
    "id": ids,
    "token": tokens,
    "gold_label": gold_labels
})
df_gold

                    id     token gold_label
0      140358938139264  Northrop        <O>
1      140358938148096   Grumman        <O>
2      140358938137856       and        <O>
3      140358938146304    Airbus        <O>
4      140358944180608    parent        <O>
...                ...       ...        ...
23969  140358935836864   billion        <O>
23970  140358935836928        to        <O>
23971  140358935836992       US$        <O>
23972  140358935837056        27        <O>
23973  140358935837120   billion        <O>

[23974 rows x 3 columns]

In [27]:
df_predicted = pd.DataFrame({
    "id": ids,
    "token": tokens,
    "predicted_label": predicted_labels
})
df_predicted

                    id     token predicted_label
0      140358938139264  Northrop             <O>
1      140358938148096   Grumman             <O>
2      140358938137856       and             <O>
3      140358938146304    Airbus             <O>
4      140358944180608    parent             <O>
...                ...       ...             ...
23969  140358935836864   billion             <O>
23970  140358935836928        to             <O>
23971  140358935836992       US$             <O>
23972  140358935837056        27             <O>
23973  140358935837120   billion             <O>

[23974 rows x 3 columns]

In [28]:
df_gold.to_csv('MNT_few_shot_gold_equal_length_without_commas_fullstops.csv')

In [29]:
df_predicted.to_csv('MNT_few_shot_predicted_equal_length_without_commas_fullstops.csv')

In [25]:
df=pd.read_csv('MNT_few_shot_gold_equal_length_without_commas_fullstops.csv')
df

       Unnamed: 0               id     token gold_label
0               0  140358938139264  Northrop        <O>
1               1  140358938148096   Grumman        <O>
2               2  140358938137856       and        <O>
3               3  140358938146304    Airbus        <O>
4               4  140358944180608    parent        <O>
...           ...              ...       ...        ...
23969       23969  140358935836864   billion        <O>
23970       23970  140358935836928        to        <O>
23971       23971  140358935836992       US$        <O>
23972       23972  140358935837056        27        <O>
23973       23973  140358935837120   billion        <O>

[23974 rows x 4 columns]

In [26]:
df2=pd.read_csv('MNT_few_shot_predicted_equal_length_without_commas_fullstops.csv')
df2

       Unnamed: 0               id     token predicted_label
0               0  140358938139264  Northrop             <O>
1               1  140358938148096   Grumman             <O>
2               2  140358938137856       and             <O>
3               3  140358938146304    Airbus             <O>
4               4  140358944180608    parent             <O>
...           ...              ...       ...             ...
23969       23969  140358935836864   billion             <O>
23970       23970  140358935836928        to             <O>
23971       23971  140358935836992       US$             <O>
23972       23972  140358935837056        27             <O>
23973       23973  140358935837120   billion             <O>

[23974 rows x 4 columns]

In [27]:
df.head(40)

    Unnamed: 0               id         token gold_label
0            0  140358938139264      Northrop        <O>
1            1  140358938148096       Grumman        <O>
2            2  140358938137856           and        <O>
3            3  140358938146304        Airbus        <O>
4            4  140358944180608        parent        <O>
5            5  140358976254208          EADS        <O>
6            6  140358945256320        defeat    <EVENT>
7            7  140358938144768        Boeing        <O>
8            8  140358937971840           for        <O>
9            9  140358944192384             $        <O>
10          10  140358937971776            40        <O>
11          11  140358938143104       billion        <O>
12          12  140358938145728            US        <O>
13          13  140358939999168     airtanker        <O>
14          14  140358937971712      contract        <O>
15          15  140358938145920         March        <O>
16          16  140358937972160            01        <O>
17          17  140358938144896          2008        <O>
18          18  140358938144576      Northrop        <O>
19          19  140358949726784       Grumman        <O>
20          20  140358938144832           and        <O>
21          21  140358938143424        Airbus        <O>
22          22  140358938142528        parent        <O>
23          23  140358945023168       company        <O>
24          24  140358973401856      European        <O>
25          25  140358938142720    Aeronautic        <O>
26          26  140358938142336       Defence        <O>
27          27  140358938142592           and        <O>
28          28  140358938141888         Space        <O>
29          29  140358938141440       Company        <O>
30          30  140358938142016          EADS        <O>
31          31  140358938142208          N.V.        <O>
32          32  140358938141568             (        <O>
33          33  140358938141056          EADS        <O>
34          34  140358938141632             )        <O>
35          35  140358938140160          have        <O>
36          36  140358938141504  unexpectedly        <O>
37          37  140358938140224      defeated    <EVENT>
38          38  140358938141952        Boeing        <O>
39          39  140358938135296           for        <O>

In [33]:
df2.head(40)

    Unnamed: 0               id         token predicted_label
0            0  140358938139264      Northrop             <O>
1            1  140358938148096       Grumman             <O>
2            2  140358938137856           and             <O>
3            3  140358938146304        Airbus             <O>
4            4  140358944180608        parent             <O>
5            5  140358976254208          EADS             <O>
6            6  140358945256320        defeat         <EVENT>
7            7  140358938144768        Boeing             <O>
8            8  140358937971840           for             <O>
9            9  140358944192384             $             <O>
10          10  140358937971776            40             <O>
11          11  140358938143104       billion             <O>
12          12  140358938145728            US             <O>
13          13  140358939999168     airtanker             <O>
14          14  140358937971712      contract             <O>
15          15  140358938145920         March             <O>
16          16  140358937972160            01             <O>
17          17  140358938144896          2008             <O>
18          18  140358938144576      Northrop             <O>
19          19  140358949726784       Grumman             <O>
20          20  140358938144832           and             <O>
21          21  140358938143424        Airbus             <O>
22          22  140358938142528        parent             <O>
23          23  140358945023168       company             <O>
24          24  140358973401856      European             <O>
25          25  140358938142720    Aeronautic             <O>
26          26  140358938142336       Defence             <O>
27          27  140358938142592           and             <O>
28          28  140358938141888         Space             <O>
29          29  140358938141440       Company             <O>
30          30  140358938142016          EADS             <O>
31          31  140358938142208          N.V.             <O>
32          32  140358938141568             (             <O>
33          33  140358938141056          EADS             <O>
34          34  140358938141632             )             <O>
35          35  140358938140160          have             <O>
36          36  140358938141504  unexpectedly             <O>
37          37  140358938140224      defeated             <O>
38          38  140358938141952        Boeing             <O>
39          39  140358938135296           for             <O>