In [1]:
with open('TimeML_few_shot_gold_predicted_1706_corrected.txt', encoding='utf8') as infile:
    text = infile.read()
print(text[:1000])

140408151629568	A	<O>	A	<O>
140408151559552	Cyprus	<O>	Cyprus	<O>
140408148963008	exit	<EVENT>	exit	<EVENT>
140408148952000	from	<O>	from	<O>
140408148963648	the	<O>	the	<O>
140408150037376	euro	<O>	euro	<O>
140408149589504	union	<O>	union	<O>
140408152268032	if	<O>	if	<O>
140408149577152	it	<O>	it	<O>
140408148951680	comes	<EVENT>	comes	<O>
140408148964480	to	<O>	to	<O>
140408150037312	that	<O>	that	<O>
140408170752256	would	<O>	would	<O>
140408151942720	have	<O>	have	<O>
140408148964736	a	<O>	a	<O>
140408148963712	devastating	<O>	devastating	<EVENT>
140408148963520	effect	<EVENT>	effect	<EVENT>
140408149585856	on	<O>	on	<O>
140408148962944	the	<O>	the	<O>
140408148962624	country	<O>	country	<O>
140408148962496	's	<O>	's	<O>
140408148961792	citizens	<O>	citizens	<O>
140408149584000	who	<O>	who	<O>
140408148961088	are	<O>	are	<O>
140408148961216	among	<O>	among	<O>
140408148960960	the	<O>	the	<O>
140408148959488	most	<O>	most	<O>
140408148960192	indebted	<EVENT>	indebted	<O>
1404081489

In [2]:
text = text.split('\n')
print(len(text))
print(text[:10])

6685
['140408151629568\tA\t<O>\tA\t<O>', '140408151559552\tCyprus\t<O>\tCyprus\t<O>', '140408148963008\texit\t<EVENT>\texit\t<EVENT>', '140408148952000\tfrom\t<O>\tfrom\t<O>', '140408148963648\tthe\t<O>\tthe\t<O>', '140408150037376\teuro\t<O>\teuro\t<O>', '140408149589504\tunion\t<O>\tunion\t<O>', '140408152268032\tif\t<O>\tif\t<O>', '140408149577152\tit\t<O>\tit\t<O>', '140408148951680\tcomes\t<EVENT>\tcomes\t<O>']

In [3]:
lines = []
for item in text:
    line = item.split()
    lines.append(line)
    
print(len(lines))
print(lines[:20])

6685
[['140408151629568', 'A', '<O>', 'A', '<O>'], ['140408151559552', 'Cyprus', '<O>', 'Cyprus', '<O>'], ['140408148963008', 'exit', '<EVENT>', 'exit', '<EVENT>'], ['140408148952000', 'from', '<O>', 'from', '<O>'], ['140408148963648', 'the', '<O>', 'the', '<O>'], ['140408150037376', 'euro', '<O>', 'euro', '<O>'], ['140408149589504', 'union', '<O>', 'union', '<O>'], ['140408152268032', 'if', '<O>', 'if', '<O>'], ['140408149577152', 'it', '<O>', 'it', '<O>'], ['140408148951680', 'comes', '<EVENT>', 'comes', '<O>'], ['140408148964480', 'to', '<O>', 'to', '<O>'], ['140408150037312', 'that', '<O>', 'that', '<O>'], ['140408170752256', 'would', '<O>', 'would', '<O>'], ['140408151942720', 'have', '<O>', 'have', '<O>'], ['140408148964736', 'a', '<O>', 'a', '<O>'], ['140408148963712', 'devastating', '<O>', 'devastating', '<EVENT>'], ['140408148963520', 'effect', '<EVENT>', 'effect', '<EVENT>'], ['140408149585856', 'on', '<O>', 'on', '<O>'], ['140408148962944', 'the', '<O>', 'the', '<O>'], ['140408148962624', 'country', '<O>', 'country', '<O>']]

In [4]:
lines_O = []
for line in lines:
    if len(line) ==5 and line[4] == 'O':
        lines_O.append(line)
    lines_O
    
print(lines_O)
print(len(lines_O))

[]
0

In [5]:
lines_EVENT = []
for line in lines:
    if len(line) ==5 and line[4] == 'EVENT':
        lines_EVENT.append(line)
    lines_EVENT
    
print(len(lines_EVENT))
print(lines_EVENT[:20])

0
[]

In [6]:
new_lines = []
for line in lines_O:
    if len(line) ==5 and 'O' in line[4]:# Tags such as <O>. or O appear occassionally
        line[4] = '<O>'
    elif len(line) ==5 and 'EVENT' in line[4]:# Tags such as <EVENT>. or EVENT appear occassionally
        line[4] = '<EVENT>'
    new_lines.append(line)
        
print(len(new_lines))
print(new_lines)

0
[]

In [7]:
new_lines = []
for line in lines_EVENT:
    if len(line) ==5 and 'O' in line[4]:
        line[4] = '<O>'
    elif len(line) ==5 and 'EVENT' in line[4]:
        line[4] = '<EVENT>'
    new_lines.append(line)

print(len(new_lines))
print(new_lines[:20])

0
[]

In [8]:
lines_O = []
for line in lines:
    if len(line) ==5 and line[4] == 'O':
        lines_O.append(line)
    lines_O

print(len(lines_O))   
print(lines_O)

0
[]

In [9]:
lines_EVENT = []
for line in lines:
    if len(line) ==5 and line[4] == 'EVENT':
        lines_EVENT.append(line)
    lines_EVENT

print(len(lines_EVENT))
print(lines_EVENT)

0
[]

In [10]:
adjusted_lines = []
for line in lines:
    if len(line) ==5 and 'O' in line[4]:
        line[4] = '<O>'
    elif len(line) ==5 and 'EVENT' in line[4]:
        line[4] = '<EVENT>'
    else:
        line
    adjusted_lines.append(line)

print(len(adjusted_lines))
print(adjusted_lines[:20])

6685
[['140408151629568', 'A', '<O>', 'A', '<O>'], ['140408151559552', 'Cyprus', '<O>', 'Cyprus', '<O>'], ['140408148963008', 'exit', '<EVENT>', 'exit', '<EVENT>'], ['140408148952000', 'from', '<O>', 'from', '<O>'], ['140408148963648', 'the', '<O>', 'the', '<O>'], ['140408150037376', 'euro', '<O>', 'euro', '<O>'], ['140408149589504', 'union', '<O>', 'union', '<O>'], ['140408152268032', 'if', '<O>', 'if', '<O>'], ['140408149577152', 'it', '<O>', 'it', '<O>'], ['140408148951680', 'comes', '<EVENT>', 'comes', '<O>'], ['140408148964480', 'to', '<O>', 'to', '<O>'], ['140408150037312', 'that', '<O>', 'that', '<O>'], ['140408170752256', 'would', '<O>', 'would', '<O>'], ['140408151942720', 'have', '<O>', 'have', '<O>'], ['140408148964736', 'a', '<O>', 'a', '<O>'], ['140408148963712', 'devastating', '<O>', 'devastating', '<EVENT>'], ['140408148963520', 'effect', '<EVENT>', 'effect', '<EVENT>'], ['140408149585856', 'on', '<O>', 'on', '<O>'], ['140408148962944', 'the', '<O>', 'the', '<O>'], ['140408148962624', 'country', '<O>', 'country', '<O>']]

In [11]:
replaced_lines = []
for line in adjusted_lines:
    line = '\t'.join(line)
    replaced_lines.append(line)

print(len(replaced_lines))
print(replaced_lines[:20])

6685
['140408151629568\tA\t<O>\tA\t<O>', '140408151559552\tCyprus\t<O>\tCyprus\t<O>', '140408148963008\texit\t<EVENT>\texit\t<EVENT>', '140408148952000\tfrom\t<O>\tfrom\t<O>', '140408148963648\tthe\t<O>\tthe\t<O>', '140408150037376\teuro\t<O>\teuro\t<O>', '140408149589504\tunion\t<O>\tunion\t<O>', '140408152268032\tif\t<O>\tif\t<O>', '140408149577152\tit\t<O>\tit\t<O>', '140408148951680\tcomes\t<EVENT>\tcomes\t<O>', '140408148964480\tto\t<O>\tto\t<O>', '140408150037312\tthat\t<O>\tthat\t<O>', '140408170752256\twould\t<O>\twould\t<O>', '140408151942720\thave\t<O>\thave\t<O>', '140408148964736\ta\t<O>\ta\t<O>', '140408148963712\tdevastating\t<O>\tdevastating\t<EVENT>', '140408148963520\teffect\t<EVENT>\teffect\t<EVENT>', '140408149585856\ton\t<O>\ton\t<O>', '140408148962944\tthe\t<O>\tthe\t<O>', '140408148962624\tcountry\t<O>\tcountry\t<O>']

In [12]:
new_text = '\n'.join(replaced_lines)

print(new_text[:2000])

140408151629568	A	<O>	A	<O>
140408151559552	Cyprus	<O>	Cyprus	<O>
140408148963008	exit	<EVENT>	exit	<EVENT>
140408148952000	from	<O>	from	<O>
140408148963648	the	<O>	the	<O>
140408150037376	euro	<O>	euro	<O>
140408149589504	union	<O>	union	<O>
140408152268032	if	<O>	if	<O>
140408149577152	it	<O>	it	<O>
140408148951680	comes	<EVENT>	comes	<O>
140408148964480	to	<O>	to	<O>
140408150037312	that	<O>	that	<O>
140408170752256	would	<O>	would	<O>
140408151942720	have	<O>	have	<O>
140408148964736	a	<O>	a	<O>
140408148963712	devastating	<O>	devastating	<EVENT>
140408148963520	effect	<EVENT>	effect	<EVENT>
140408149585856	on	<O>	on	<O>
140408148962944	the	<O>	the	<O>
140408148962624	country	<O>	country	<O>
140408148962496	's	<O>	's	<O>
140408148961792	citizens	<O>	citizens	<O>
140408149584000	who	<O>	who	<O>
140408148961088	are	<O>	are	<O>
140408148961216	among	<O>	among	<O>
140408148960960	the	<O>	the	<O>
140408148959488	most	<O>	most	<O>
140408148960192	indebted	<EVENT>	indebted	<O>
140408148960384	in	<O>	in	<O>
140408148960832	the	<O>	the	<O>
140408148960128	euro	<O>	euro	<O>
140408148960320	zone	<O>	zone	<O>

140408148960064	And	<O>	And	<O>
140408148953920	for	<O>	for	<O>
140408148959616	European	<O>	European	<O>
140408148958912	unity	<O>	unity	<O>
140408148960768	and	<O>	and	<O>
140408148954240	diplomacy	<O>	diplomacy	<O>
140408148959104	the	<O>	the	<O>
140408148956416	Cyprus	<O>	Cyprus	<O>
140408148953856	debacle	<EVENT>	debacle	<EVENT>
140408148954304	has	<O>	has	<EVENT>
140408148953344	already	<O>	already	<O>
140408148958336	been	<O>	been	<O>
140408148957952	at	<O>	at	<O>
140408148956672	least	<O>	least	<O>
140408148956736	a	<O>	a	<O>
140408150037568	short-term	<O>	short-term	<O>
140408148958080	disaster	<EVENT>	disaster	<EVENT>

140408148953984	ut	<O>	ut	<O>
140408148959936	for	<O>	for	<O>
140408148959808	the	<O>	the	<O>
140408148959552	broader	<O>	broader	<O>
140408148959744	financial	<O>	financial	<O>
140408148958720	system	<O>	system	<O>
140408148959680	in	<O>	in

In [15]:
with open('TimeML_few_shot_gold_predicted_1806_corrected.txt', 'w', encoding='utf8') as outfile:
        outfile.write(new_text)

In [16]:
with open('TimeML_few_shot_gold_predicted_1806_corrected.txt', encoding='utf8') as infile:
    text = infile.read()

In [17]:
print(text[:2000])

140408151629568	A	<O>	A	<O>
140408151559552	Cyprus	<O>	Cyprus	<O>
140408148963008	exit	<EVENT>	exit	<EVENT>
140408148952000	from	<O>	from	<O>
140408148963648	the	<O>	the	<O>
140408150037376	euro	<O>	euro	<O>
140408149589504	union	<O>	union	<O>
140408152268032	if	<O>	if	<O>
140408149577152	it	<O>	it	<O>
140408148951680	comes	<EVENT>	comes	<O>
140408148964480	to	<O>	to	<O>
140408150037312	that	<O>	that	<O>
140408170752256	would	<O>	would	<O>
140408151942720	have	<O>	have	<O>
140408148964736	a	<O>	a	<O>
140408148963712	devastating	<O>	devastating	<EVENT>
140408148963520	effect	<EVENT>	effect	<EVENT>
140408149585856	on	<O>	on	<O>
140408148962944	the	<O>	the	<O>
140408148962624	country	<O>	country	<O>
140408148962496	's	<O>	's	<O>
140408148961792	citizens	<O>	citizens	<O>
140408149584000	who	<O>	who	<O>
140408148961088	are	<O>	are	<O>
140408148961216	among	<O>	among	<O>
140408148960960	the	<O>	the	<O>
140408148959488	most	<O>	most	<O>
140408148960192	indebted	<EVENT>	indebted	<O>
140408148960384	in	<O>	in	<O>
140408148960832	the	<O>	the	<O>
140408148960128	euro	<O>	euro	<O>
140408148960320	zone	<O>	zone	<O>

140408148960064	And	<O>	And	<O>
140408148953920	for	<O>	for	<O>
140408148959616	European	<O>	European	<O>
140408148958912	unity	<O>	unity	<O>
140408148960768	and	<O>	and	<O>
140408148954240	diplomacy	<O>	diplomacy	<O>
140408148959104	the	<O>	the	<O>
140408148956416	Cyprus	<O>	Cyprus	<O>
140408148953856	debacle	<EVENT>	debacle	<EVENT>
140408148954304	has	<O>	has	<EVENT>
140408148953344	already	<O>	already	<O>
140408148958336	been	<O>	been	<O>
140408148957952	at	<O>	at	<O>
140408148956672	least	<O>	least	<O>
140408148956736	a	<O>	a	<O>
140408150037568	short-term	<O>	short-term	<O>
140408148958080	disaster	<EVENT>	disaster	<EVENT>

140408148953984	ut	<O>	ut	<O>
140408148959936	for	<O>	for	<O>
140408148959808	the	<O>	the	<O>
140408148959552	broader	<O>	broader	<O>
140408148959744	financial	<O>	financial	<O>
140408148958720	system	<O>	system	<O>
140408148959680	in	<O>	in

In [18]:
text = text.split('\n')
print(len(text))
print(text[:10])

6685
['140408151629568\tA\t<O>\tA\t<O>', '140408151559552\tCyprus\t<O>\tCyprus\t<O>', '140408148963008\texit\t<EVENT>\texit\t<EVENT>', '140408148952000\tfrom\t<O>\tfrom\t<O>', '140408148963648\tthe\t<O>\tthe\t<O>', '140408150037376\teuro\t<O>\teuro\t<O>', '140408149589504\tunion\t<O>\tunion\t<O>', '140408152268032\tif\t<O>\tif\t<O>', '140408149577152\tit\t<O>\tit\t<O>', '140408148951680\tcomes\t<EVENT>\tcomes\t<O>']

In [19]:
ids = []
tokens = []
gold_labels = []
predicted_labels = []

In [20]:
line_items = []
for line in text:
    items = line.split()
    line_items.append(items)

print(len(line_items))
print(line_items[:20])

6685
[['140408151629568', 'A', '<O>', 'A', '<O>'], ['140408151559552', 'Cyprus', '<O>', 'Cyprus', '<O>'], ['140408148963008', 'exit', '<EVENT>', 'exit', '<EVENT>'], ['140408148952000', 'from', '<O>', 'from', '<O>'], ['140408148963648', 'the', '<O>', 'the', '<O>'], ['140408150037376', 'euro', '<O>', 'euro', '<O>'], ['140408149589504', 'union', '<O>', 'union', '<O>'], ['140408152268032', 'if', '<O>', 'if', '<O>'], ['140408149577152', 'it', '<O>', 'it', '<O>'], ['140408148951680', 'comes', '<EVENT>', 'comes', '<O>'], ['140408148964480', 'to', '<O>', 'to', '<O>'], ['140408150037312', 'that', '<O>', 'that', '<O>'], ['140408170752256', 'would', '<O>', 'would', '<O>'], ['140408151942720', 'have', '<O>', 'have', '<O>'], ['140408148964736', 'a', '<O>', 'a', '<O>'], ['140408148963712', 'devastating', '<O>', 'devastating', '<EVENT>'], ['140408148963520', 'effect', '<EVENT>', 'effect', '<EVENT>'], ['140408149585856', 'on', '<O>', 'on', '<O>'], ['140408148962944', 'the', '<O>', 'the', '<O>'], ['140408148962624', 'country', '<O>', 'country', '<O>']]

In [21]:
print(line_items[0])

['140408151629568', 'A', '<O>', 'A', '<O>']

In [22]:
for line in line_items:
    if len(line) ==5:
        ids.append(line[0])
        tokens.append(line[1])
        gold_labels.append(line[2])
        predicted_labels.append(line[4])

In [23]:
print(len(ids))
print(len(tokens))
print(len(gold_labels))
print(len(predicted_labels))

6409
6409
6409
6409

In [24]:
for line in line_items:
    if len(line) !=5:
        print(line)

[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]

In [25]:
print(ids[:20])
print(tokens[:20])
print(gold_labels[:20])
print(predicted_labels[:20])

['140408151629568', '140408151559552', '140408148963008', '140408148952000', '140408148963648', '140408150037376', '140408149589504', '140408152268032', '140408149577152', '140408148951680', '140408148964480', '140408150037312', '140408170752256', '140408151942720', '140408148964736', '140408148963712', '140408148963520', '140408149585856', '140408148962944', '140408148962624']
['A', 'Cyprus', 'exit', 'from', 'the', 'euro', 'union', 'if', 'it', 'comes', 'to', 'that', 'would', 'have', 'a', 'devastating', 'effect', 'on', 'the', 'country']
['<O>', '<O>', '<EVENT>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<EVENT>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<EVENT>', '<O>', '<O>', '<O>']
['<O>', '<O>', '<EVENT>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<O>', '<EVENT>', '<EVENT>', '<O>', '<O>', '<O>']

In [26]:
import pandas as pd

In [27]:
df_gold = pd.DataFrame({
    "id": ids,
    "token": tokens,
    "gold_label": gold_labels
})
df_gold

                   id   token gold_label
0     140408151629568       A        <O>
1     140408151559552  Cyprus        <O>
2     140408148963008    exit    <EVENT>
3     140408148952000    from        <O>
4     140408148963648     the        <O>
...               ...     ...        ...
6404  140408149538944   agent        <O>
6405  140408149539008       '        <O>
6406  140408149539072      ''        <O>
6407  140408149539136      he        <O>
6408  140408149539200    said    <EVENT>

[6409 rows x 3 columns]

In [28]:
df_predicted = pd.DataFrame({
    "id": ids,
    "token": tokens,
    "predicted_label": predicted_labels
})
df_predicted

                   id   token predicted_label
0     140408151629568       A             <O>
1     140408151559552  Cyprus             <O>
2     140408148963008    exit         <EVENT>
3     140408148952000    from             <O>
4     140408148963648     the             <O>
...               ...     ...             ...
6404  140408149538944   agent             <O>
6405  140408149539008       '             <O>
6406  140408149539072      ''             <O>
6407  140408149539136      he             <O>
6408  140408149539200    said             <O>

[6409 rows x 3 columns]

In [29]:
df_gold.to_csv('TimeML_few_shot_gold_equal_length_without_commas_fullstops.csv')

In [30]:
df_predicted.to_csv('TimeML_few_shot_predicted_equal_length_without_commas_fullstops.csv')

In [31]:
df=pd.read_csv('TimeML_few_shot_gold_equal_length_without_commas_fullstops.csv')
df

      Unnamed: 0               id   token gold_label
0              0  140408151629568       A        <O>
1              1  140408151559552  Cyprus        <O>
2              2  140408148963008    exit    <EVENT>
3              3  140408148952000    from        <O>
4              4  140408148963648     the        <O>
...          ...              ...     ...        ...
6404        6404  140408149538944   agent        <O>
6405        6405  140408149539008       '        <O>
6406        6406  140408149539072      ''        <O>
6407        6407  140408149539136      he        <O>
6408        6408  140408149539200    said    <EVENT>

[6409 rows x 4 columns]

In [32]:
df2=pd.read_csv('TimeML_few_shot_predicted_equal_length_without_commas_fullstops.csv')
df2

      Unnamed: 0               id   token predicted_label
0              0  140408151629568       A             <O>
1              1  140408151559552  Cyprus             <O>
2              2  140408148963008    exit         <EVENT>
3              3  140408148952000    from             <O>
4              4  140408148963648     the             <O>
...          ...              ...     ...             ...
6404        6404  140408149538944   agent             <O>
6405        6405  140408149539008       '             <O>
6406        6406  140408149539072      ''             <O>
6407        6407  140408149539136      he             <O>
6408        6408  140408149539200    said             <O>

[6409 rows x 4 columns]

In [33]:
df.head(40)

    Unnamed: 0               id        token gold_label
0            0  140408151629568            A        <O>
1            1  140408151559552       Cyprus        <O>
2            2  140408148963008         exit    <EVENT>
3            3  140408148952000         from        <O>
4            4  140408148963648          the        <O>
5            5  140408150037376         euro        <O>
6            6  140408149589504        union        <O>
7            7  140408152268032           if        <O>
8            8  140408149577152           it        <O>
9            9  140408148951680        comes    <EVENT>
10          10  140408148964480           to        <O>
11          11  140408150037312         that        <O>
12          12  140408170752256        would        <O>
13          13  140408151942720         have        <O>
14          14  140408148964736            a        <O>
15          15  140408148963712  devastating        <O>
16          16  140408148963520       effect    <EVENT>
17          17  140408149585856           on        <O>
18          18  140408148962944          the        <O>
19          19  140408148962624      country        <O>
20          20  140408148962496           's        <O>
21          21  140408148961792     citizens        <O>
22          22  140408149584000          who        <O>
23          23  140408148961088          are        <O>
24          24  140408148961216        among        <O>
25          25  140408148960960          the        <O>
26          26  140408148959488         most        <O>
27          27  140408148960192     indebted    <EVENT>
28          28  140408148960384           in        <O>
29          29  140408148960832          the        <O>
30          30  140408148960128         euro        <O>
31          31  140408148960320         zone        <O>
32          32  140408148960064          And        <O>
33          33  140408148953920          for        <O>
34          34  140408148959616     European        <O>
35          35  140408148958912        unity        <O>
36          36  140408148960768          and        <O>
37          37  140408148954240    diplomacy        <O>
38          38  140408148959104          the        <O>
39          39  140408148956416       Cyprus        <O>

In [34]:
df2.head(40)

    Unnamed: 0               id        token predicted_label
0            0  140408151629568            A             <O>
1            1  140408151559552       Cyprus             <O>
2            2  140408148963008         exit         <EVENT>
3            3  140408148952000         from             <O>
4            4  140408148963648          the             <O>
5            5  140408150037376         euro             <O>
6            6  140408149589504        union             <O>
7            7  140408152268032           if             <O>
8            8  140408149577152           it             <O>
9            9  140408148951680        comes             <O>
10          10  140408148964480           to             <O>
11          11  140408150037312         that             <O>
12          12  140408170752256        would             <O>
13          13  140408151942720         have             <O>
14          14  140408148964736            a             <O>
15          15  140408148963712  devastating         <EVENT>
16          16  140408148963520       effect         <EVENT>
17          17  140408149585856           on             <O>
18          18  140408148962944          the             <O>
19          19  140408148962624      country             <O>
20          20  140408148962496           's             <O>
21          21  140408148961792     citizens             <O>
22          22  140408149584000          who             <O>
23          23  140408148961088          are             <O>
24          24  140408148961216        among             <O>
25          25  140408148960960          the             <O>
26          26  140408148959488         most             <O>
27          27  140408148960192     indebted             <O>
28          28  140408148960384           in             <O>
29          29  140408148960832          the             <O>
30          30  140408148960128         euro             <O>
31          31  140408148960320         zone             <O>
32          32  140408148960064          And             <O>
33          33  140408148953920          for             <O>
34          34  140408148959616     European             <O>
35          35  140408148958912        unity             <O>
36          36  140408148960768          and             <O>
37          37  140408148954240    diplomacy             <O>
38          38  140408148959104          the             <O>
39          39  140408148956416       Cyprus             <O>