In [14]:
with open('train_tags_adjusted_TimeML.txt', encoding='utf8') as infile:
    text = infile.read()
print(text[:150])

Aetna	<O>
Life	<O>
amp	<O>
Casualty	<O>
Co.	<O>
's	<O>
third-quarter	<O>
net	<O>
income	<O>
fell	<EVENT>
22	<O>
%	<O>
to	<O>
$	<O>
182.6	<O>
million

In [15]:
text = text.split('\n\n')

In [16]:
string1 = '<\t<O>'
string2 = '>\t<O>'
string3 = '=\t<O>'
text2 = [ item for item in text if string1 not in item and string2 not in item and string3 not in item and len(item)>5  ]

In [17]:
text2 = '\n\n'.join(text2)

In [18]:
print(text2[:150])

Aetna	<O>
Life	<O>
amp	<O>
Casualty	<O>
Co.	<O>
's	<O>
third-quarter	<O>
net	<O>
income	<O>
fell	<EVENT>
22	<O>
%	<O>
to	<O>
$	<O>
182.6	<O>
million

In [19]:
with open('TimeML_train_tags_adjusted_not_meaningful_strings_removed.txt', 'w', encoding='utf8') as outfile:
    outfile.write(text2)

In [20]:
with open('TimeML_train_tags_adjusted_not_meaningful_strings_removed.txt', encoding='utf8') as infile:
    text = infile.read()
print(text[:150])

Aetna	<O>
Life	<O>
amp	<O>
Casualty	<O>
Co.	<O>
's	<O>
third-quarter	<O>
net	<O>
income	<O>
fell	<EVENT>
22	<O>
%	<O>
to	<O>
$	<O>
182.6	<O>
million